<p>Dear <%= recipientFirstName %>,</p>

<p>We wanted to let you know that one of our locally based managers <%= adminName %>, unsubscribed your email address, <%= to %>, from the service <%= serviceName %>.</p>

<p>If you feel that this action was not correct, simply log into your Humanitarian ID account and subscribe to the service again.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<% include ../includes/footer_fr %>
