<p>Dear <%= recipientFirstName %>,</p>

<p><%= adminName %> has just removed you from the subscription service <%= serviceName %> on Humanitarian ID.</p>

<p>Please contact <%= adminName %> if you wish to be subscribed to <%= serviceName %> again.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p><%= adminName %> vous a désinscrit du service <%= serviceName %> sur Humanitarian ID.</p>

<p>Veuillez contacter <%= adminName %> si vous voulez vous réinscrire à <%= serviceName %>.</p>

<% include ../includes/footer_fr %>
