<p>Dear <%= recipientFirstName %>,</p>

<p><%= adminName %> has deleted your profile (contact details) from Humanitarian ID. Such an action should only be taken at your request and with your consent.</p>

<p>If this action was taken in error, kindly contact <%= adminName %> or email info@humanitairan.id.</p>

<p>Note that your Humanitarian ID login credentials still remain valid. This arrangement means that you can continue to use them to log into a variety of websites or re-add your profile, with contact details, to Humanitarian ID.</p>

<p>If you believe that this email was sent incorrectly or inappropriately, please let us know at info@humanitarian.id.</p>

<p>The Humanitarian ID team<br />
Site: http://humanitarian.id<br />
Animation: http://humanitarian.id/animation<br />
Twitter: https://twitter.com/humanitarianid<br />
YouTube: http://humanitarian.id/youtube</p>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p><%= adminName %> a supprimé votre profile (coordonnées de contact) de Humanitarian ID. Normalement cela arrive seulement si vous avez fait la demande de supprimer votre profil.</p>

<p>S’il s’agit d’une faute de notre part, on vous prie de bien vouloir contacter <%= adminName %> ou d’envoyer un courriel a email info@humanitairan.id</p>

<p>Vous pouvez continuer à utiliser votre Humanitarian ID login pour accéder d’autres sites web ou pour réinitialiser votre profile sur Humanitarian ID.</p>

<p>L’équipe Humanitarian ID<br />
Site: http://humanitarian.id<br />
Animation: http://humanitarian.id/animation<br />
Twitter: https://twitter.com/humanitarianid<br />
YouTube: http://humanitarian.id/youtube</p>
