<p>Dear <%= recipientFirstName %>,</p>

<p>We wanted to let you know that your global Humanitarian ID profile has been updated by one of our global managers <%= adminName %> as follows:</p>
<ul>
<% for (var i = 0, len = actionsEN.length; i < len; i++) { %>
<li><%= actionsEN[i] %></li>
<% } %>
</ul>

<p>If you feel that this action was not correct, simply log into your Humanitarian ID account and modify your global profile.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p>Nous aimerions vous informer que votre profil global sur Humanitarian ID  a été modifié par un de nos gestionnaires, <%= adminName %>:</p>
<ul>
<% for (var i = 0, len = actionsFR.length; i < len; i++) { %>
<li><%= actionsFR[i] %></li>
<% } %>
</ul>

<p>Si ceci est incorrect, nous vous prions de bien vouloir vous connecter sur Humanitarian ID pour modifier votre profil global.</p>

<% include ../includes/footer_fr %>
