<p>Dear <%= firstName %>,</p>

<p>You were given the ability to <%= action.EN %> the contact list "<%= list.name %>" on Humanitarian ID.</p>

<p>With the link below, you can <%= action.EN %> the contact list. You can also find it under your personal "Custom Contact Lists" on your dashboard at any time.</p>

<p><a href="<%= listUrl %>">Click here to open the list</a></p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= firstName %>,</p>

<p>Vous avez été autorisé à <%= action.FR %> la liste de contacts "<%= list.name %>" sur Humanitarian ID.</p>

<p>Avec le lien ci-dessous, vous pouvez <%= action.FR %> la liste de contacts. Vous pourrez par ailleurs retrouver cette liste sur votre tableau de bord Humanitarian ID.</p>

<p><a href="<%= listUrl %>">Cliquez ici pour ouvrir la liste</a></p>

<% include ../includes/footer_fr %>
