<p>Dear <%= recipientFirstName %>,</p>

<p><%= adminName %> has just added you to the subscription service "<%= serviceName %>" on Humanitarian ID.</p>

<p>If you do not wish to subscribe to "<%= serviceName %>", please log into Humanitarian ID and unsubscribe from "<%= serviceName %>".</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p><%= adminName %> vient juste de vous inscrire au service "<%= serviceName %>" sur Humanitarian ID.</p>

<p>Si vous ne voulez pas être inscrit, veuillez vous connecter sur Humanitarian ID et vous désinscrire de "<%= serviceName %>".</p>

<% include ../includes/footer_fr %>
