<p>Dear <%= recipientFirstName %>,</p>

<p>We wanted to let you know that one of our locally based managers <%= adminName %>, subscribed your email address, <%= to %>, to the service <%= serviceName %>.</p>

<p>If you feel that this action was not correct, simply log into your Humanitarian ID account and remove this subscription.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<% include ../includes/footer_fr %>
