<%= nameGiven %>,

<%if (checkedIn) { %>

	<p>The following people checked into the contact lists that you manage on Humanitarian ID: </p>

	<% for (var i=0; i < dailyDigest.length; i++) { %>
		<% if (locations[dailyDigest[i]].checkedInUsers.length) { %>
			<p> <%= locations[dailyDigest[i]].name %> </p>

			<ul>
				<% for(var j=0; j<locations[dailyDigest[i]].checkedInUsers.length; j++) {%>
	   				<li><a href="<%= baseUrl %>/#/contact/<%= locations[dailyDigest[i]].checkedInUsers[j]._id %>"><%= locations[dailyDigest[i]].checkedInUsers[j].nameGiven %> <%= locations[dailyDigest[i]].checkedInUsers[j].nameFamily %></a>, <%= locations[dailyDigest[i]].checkedInUsers[j].jobtitle %> at <%= locations[dailyDigest[i]].checkedInUsers[j].organizations[0].name %></li>
				<% } %>
			</ul>
		<% } %>
	<% } %>
<% } %>

<%if (checkedOut) { %>

	<p>The following people checked out of the contact lists that you manage on Humanitarian ID: </p>

        <% for (var i=0; i < dailyDigest.length; i++) { %>
                <% if (locations[dailyDigest[i]].checkedOutUsers.length) { %>
                        <p> <%= locations[dailyDigest[i]].name %> </p>

                        <ul>
                                <% for(var j=0; j<locations[dailyDigest[i]].checkedOutUsers.length; j++) {%>
                                        <li><a href="<%= baseUrl %>/#/contact/<%= locations[dailyDigest[i]].checkedOutUsers[j]._id %>"><%= locations[dailyDigest[i]].checkedOutUsers[j].nameGiven %> <%= locations[dailyDigest[i]].checkedOutUsers[j].nameFamily %></a>, <%= locations[dailyDigest[i]].checkedOutUsers[j].jobtitle %> at <%= locations[dailyDigest[i]].checkedOutUsers[j].organizations[0].name %></li>
                                <% } %>
                        </ul>
                <% } %>
        <% } %>


<% }; %>


<% include ../includes/footer_en %>

<hr />

