<p>Dear <%= firstName %>,</p>

<p>Thank you for checking into <%= location %> two days ago. You can now find contact details of other humanitarians and they can find yours.</p>

<p>We noticed that you have not yet added a local phone number. If you have one and would like to add it, simply update your profile: <a href="<%= contactURL %>"><%= contactURL %></a></p>

<p>The ability for responders to find and connect during a humanitarian crisis is of utmost importance. Humanitarian ID takes a decentralized approach to contact lists and thus relies on members like yourself to help keep these lists up-to-date.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= firstName %>,</p>

<p>Merci de vous être inscrit sur la liste de contacts en/au <%= location %> il y a deux jours. Vous pouvez maintenant trouver les informations de contacts d'autres humanitaires et ils peuvent trouver vos informations.</p>

<p>Vous n'avez pas encore ajouté de numéro de téléphone local. Si vous souhaitez le faire, vous pouvez mettre à jour votre profil ici: <a href="<%= contactURL %>"><%= contactURL %></a></p>

<p>La mise à jour des listes de contacts dans les crises humanitaires sont d'une importance critique. Humanitarian ID approche les listes de contact de manière décentralisée et compte sur des membres tel que vous pour nous aider à garder nos listes de contact à jour.</p> 

<% include ../includes/footer_fr %>
