<p>Dear <%= firstName %>,</p>

<p>Thank you for checking into <%= location %> two days ago. You can now find contact details of other humanitarians and they <if secure emergency then add “, if verified,”> can find yours.</p>

<% if (!hasLocalPhoneNumber) { %>
<p>We noticed that you have not yet added a local phone number. If you have one and would  like to add it, simply  update your profile (link below).</p>
<% } %>

<% if (!contact.isInCountry()) { %>
<p>We <% if (!hasLocalPhoneNumber) { %> also <% } %> noticed that you have specified <%= contact.address[0].country %>. If you are in <%= contact.location %>, we ask that you kindly update your location details in your profile using the link below. If you are indeed based in <%= contact.address[0].country %>, simply ignore this request - we know that people support emergencies remotely.</p>
<% } %>

<% if ((!contact.address[0].administrative_area || !contact.address[0].country || !contact.office || !contact.office.length) && contact.isInCountry()) { %>
<p>We <% if (!hasLocalPhoneNumber) { %> also <% } %> noticed that you did not provide details about your location (current location country, region/state and/or coordination office). Being able to find and contact humanitarians within specific areas can be critical during a crisis. If comfortable, we kindly ask that you update your profile with relevant location details (country, area and nearest coordination hub). Update your profile with the link below.</p>
<% } %>

<p><a href="<%= contactURL %>"><%= contactURL %></a></p>

<p>The ability for responders to find and connect during a humanitarian crisis is of utmost importance. Humanitarian ID takes a decentralized approach to contact lists and thus relies on members like yourself to help keep these lists up-to-date.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= firstName %>,</p>

<% include ../includes/footer_fr %>
