<p>Hello,</p>

<p>We wanted to let you know that <%= person %> has specified that s/he is working for <%= organization %> in <%= locationName %>.</p>

<p>If this person does not actually work for <%= organization %>, simply log into Humanitarian ID, search to find <%= person %>, edit their profile and remove your organization name.</p>

<p>Should this person continue to assign themselves to your organization, when in fact they are not working for you, kindly let us know by email at info@humanitarian.id.</p>

<p>The Humanitarian ID team<br />
Site: http://humanitarian.id<br />
Animation: http://humanitarian.id/animation<br />
Twitter: https://twitter.com/humanitarianid<br />
YouTube: http://humanitarian.id/youtube</p>

<hr />

<p>Bonjour,</p>

<p>On aimerait bien vous informer que <%= person %> a spécifié qu’il/ ou elle travaille pour <%= organization %> en/au <%= locationName %>.</p>

<p>Si la personne ne travaille pas pour <%= organization %>, connectez-vous sur Humanitarian ID, faites la recherche de <%= person %>, et modifies le profil de cette personne en enlevant le nom de votre organisation.</p>

<p>Si la personne continue à remettre le nom de votre organisation dans son profil (et ne travaille pas pour votre organisation), on vous prie de nous contacter sur info@humanitarian.id.</p>

<p>L'équipe Humanitarian ID<br />
Site: http://humanitarian.id<br />
Animation: http://humanitarian.id/animation<br />
Twitter: https://twitter.com/humanitarianid<br />
YouTube: http://humanitarian.id/youtube</p>

