<p>Dear <%= recipientFirstName %>,</p>

<p>Based on your check-in information you were automatically removed from the subscription service "<%= serviceName %>" on Humanitarian ID.</p>

<p>If you wish to subscribe again to "<%= serviceName %>", please log into Humanitarian ID and subscribe to "<%= serviceName %>" on your dashboard.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p>Vous avez été automatiquement désinscrit du service "<%= serviceName %>" sur Humanitarian ID.</p>

<p>Si vous voulez vous réinscrire, veuillez vous connecter sur Humanitarian ID et vous réinscrire à "<%= serviceName %>".</p>

<% include ../includes/footer_fr %>
