<p>Dear <%= firstName %>,</p>

<p>As per our email on <%= remindedCheckoutDate %>, you have now been automatically checked out of <%= location %> as it is 14 days passed the departure date that you set on your <%= location %> profile.</p>

<p>If you are still responding to an emergency in <%= location %>, you will need to check-in again.</p>

<p>Check-in: <a href="http://humanitarian.id/checkin">http://humanitarian.id/checkin</a></p>

<p>Your global profile will, of course, remain active. If you are responding to another emergency simply log into your Humanitarian ID account, choose Check-in, Select the country name and add your local details.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= firstName %>,</p>

<p>Comme indiqué dans notre précédent email envoyé le <%= remindedCheckoutDate %>, vous avez maintenant été automatiquement désinscrit de la liste de contacts en/au <%= location %>, car cela fait plus de 14 jours que la date de départ indiquée sur votre profil est dépassée.</p>

<p>Si vous continuez à répondre à l'urgence en/au <%= location %>, vous devrez vous réinscrire.</p>

<p>Pour vous réinscrire: <a href="http://humanitarian.id/checkin">http://humanitarian.id/checkin</a></p>

<p>Votre profil global reste bien évidemment actif. Si vous répondez à une autre urgence, connectez-vous à votre compte Humanitarian ID, choisissez Check-in, sélectionnez le pays et ajoutez vos informations de contact locales.</p>


<% include ../includes/footer_fr %>
